
.normal {
	font-weight: normal#{$important};
}
.bold {
    font-weight: bold#{$important};
}

.italic {
    font-style: italic#{$important};
}

.line-through{
    text-decoration: line-through#{$important};
}

@include if-device(tablet) {
	.#{$config-prefix-tablet}normal {
		font-weight: normal#{$important};
	}
	.#{$config-prefix-tablet}bold {
	    font-weight: bold#{$important};
	}

	.#{$config-prefix-tablet}italic {
	    font-style: italic#{$important};
	}

	.#{$config-prefix-tablet}line-through{
	    text-decoration: line-through#{$important};
	}
}

@include if-device(phone-tablet) {
	.#{$config-prefix-phone-tablet}normal {
		font-weight: normal#{$important};
	}

	.#{$config-prefix-phone-tablet}bold {
	    font-weight: bold#{$important};
	}

	.#{$config-prefix-phone-tablet}italic {
	    font-style: italic#{$important};
	}

	.#{$config-prefix-phone-tablet}line-through{
	    text-decoration: line-through#{$important};
	}
}

@include if-device(phone) {
	.#{$config-prefix-phone}normal {
		font-weight: normal#{$important};
	}

	.#{$config-prefix-phone}bold {
	    font-weight: bold#{$important};
	}

	.#{$config-prefix-phone}italic {
	    font-style: italic#{$important};
	}

	.#{$config-prefix-phone}line-through{
	    text-decoration: line-through#{$important};
	}
}