//  ---- Common ----

	$prefix : "";

//  ---- Padding ----

	$paddings_general:     (0 5 10 15 20 25 30 35 40 45 50 60);
	$paddings_vertical:    (0 5 10 15 20 25 30 35 40 45 50 60 70 80 90 100 150 200);
	$paddings_horizontal:  (0 5 10 15 20 25 30 35 40 45 50 60);