
.pos-relative {
    position:relative#{$scu-val-important};
}

.pos-absolute {
    position:absolute#{$scu-val-important};
}

.pos-static {
    position:static#{$scu-val-important};
}

.pos-fixed {
    position:fixed#{$scu-val-important};
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@if $scu-build-tablet-classes{
    @include if-device(tablet) {
        .#{$scu-val-prefix-tablet}pos-relative {
            position:relative#{$scu-val-important};
        }

        .#{$scu-val-prefix-tablet}pos-absolute {
            position:absolute#{$scu-val-important};
        }

        .#{$scu-val-prefix-tablet}pos-static {
            position:static#{$scu-val-important};
        }

        .#{$scu-val-prefix-tablet}pos-fixed {
            position:fixed#{$scu-val-important};
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

@if $scu-build-phone-tablet-classes{
    @include if-device(phone-tablet) {
        .#{$scu-val-prefix-phone-tablet}pos-relative {
            position:relative#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone-tablet}pos-absolute {
            position:absolute#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone-tablet}pos-static {
            position:static#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone-tablet}pos-fixed {
            position:fixed#{$scu-val-important};
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

@if $scu-build-phone-classes{
    @include if-device(phone) {
        .#{$scu-val-prefix-phone}pos-relative {
            position:relative#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone}pos-absolute {
            position:absolute#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone}pos-static {
            position:static#{$scu-val-important};
        }

        .#{$scu-val-prefix-phone}pos-fixed {
            position:fixed#{$scu-val-important};
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}
