
.pos-relative {
	position:relative#{$important};
}

.pos-absolute {
	position:absolute#{$important};
}

.pos-static {
	position:static#{$important};
}

.pos-fixed {
	position:fixed#{$important};
}

@include if-device(tablet) {
	.#{$config-prefix-tablet}pos-relative {
		position:relative#{$important};
	}

	.#{$config-prefix-tablet}pos-absolute {
		position:absolute#{$important};
	}

	.#{$config-prefix-tablet}pos-static {
		position:static#{$important};
	}

	.#{$config-prefix-tablet}pos-fixed {
		position:fixed#{$important};
	}
}

@include if-device(phone-tablet) {
	.#{$config-prefix-phone-tablet}pos-relative {
		position:relative#{$important};
	}

	.#{$config-prefix-phone-tablet}pos-absolute {
		position:absolute#{$important};
	}

	.#{$config-prefix-phone-tablet}pos-static {
		position:static#{$important};
	}

	.#{$config-prefix-phone-tablet}pos-fixed {
		position:fixed#{$important};
	}
}

@include if-device(phone) {
	.#{$config-prefix-phone}pos-relative {
		position:relative#{$important};
	}

	.#{$config-prefix-phone}pos-absolute {
		position:absolute#{$important};
	}

	.#{$config-prefix-phone}pos-static {
		position:static#{$important};
	}

	.#{$config-prefix-phone}pos-fixed {
		position:fixed#{$important};
	}
}