.ma,
.mar-auto {
	margin-left: auto;
	margin-right: auto;
}

.ml-auto{
	margin-left: auto;
}
.mr-auto{
	margin-right: auto;
}

// Margins General
@if $margins_general{
    @each $val in $margins_general{
		.mar-#{$val}{
			margin: #{$val}px;
		}
    }
}

// Margins Vertical
@if $margins_vertical{
    @each $val in $margins_vertical{
		.mt-#{$val}{
			margin-top: #{$val}px;
		}
		.mb-#{$val}{
			margin-bottom: #{$val}px;
		}
    }
}

// Margins Horizontal
@if $margins_horizontal{
    @each $val in $margins_horizontal{
		.ml-#{$val}{
			margin-left: #{$val}px;
		}
		.mr-#{$val}{
			margin-right: #{$val}px;
		}
    }
}