
// ---- Floats ----  

	.fl {
		float:left;
	}
	.fr {
		float:right;
	}
	.fl-imp{
		float:left !important;
	}
	.fr-imp {
		float:right !important;
	}
	.clr,
	.clear {
		clear:both;
	}


// ---- Text Align ----  

	.ta-l, .tal, .align-left{
		text-align: left;
	}
	.ta-r, .tar, .align-right {
		text-align: right;
	}
	.ta-c, .tac, .align-center, .center {
		text-align: center;
	}


// ---- Align ----  

	.va-t, .vat, .align-top{
		vertical-align: top;
	}
	.va-m, .vam, .align-middle {
		vertical-align: middle;
	}
	.va-b, .vab, .align-bottom {
		vertical-align: bottom;
	}


// ---- Clear Fix ----  

	.clearfix{
		@include clearfix;
	}

// ---- Visibility and more ---- 

	.is-hidden {
		display: none !important;
	}
	.is-invisible {
		visibility: hidden !important;
	}

	.is-transparent{
		@include opacity(0);
	}
	.is-opaque{
		@include opacity(1);
	}

	.block{
		display: block !important;
	}
	.inline-block{
		@include inline-block("!important");
	}

	.hide-text {
	    @include hide-text();
	}

	.ellipsis {
		@include ellipsis();
	}

	.non-selectable, .disable-text-select {
		@include non-selectable();
	}

	.uc, .uppercase{
		text-transform: uppercase;
	}
	.lc, .lowercase{
		text-transform: lowercase;
	}
