
// ---- Floats ----  

	.fl {
		float:left;
	}
	.fr {
		float:right;
	}
	.fl-imp{
		float:left !important;
	}
	.fr-imp {
		float:right !important;
	}
	.clr,
	.clear {
		clear:both;
	}


// ---- Text Align ----  

	.ta-l, .tal, .align-left{
		text-align: left;
	}
	.ta-r, .tar, .align-right {
		text-align: right;
	}
	.ta-c, .tac, .align-center, .center {
		text-align: center;
	}


// ---- Align ----  

	.va-t, .vat, .align-top{
		vertical-align: top;
	}
	.va-m, .vam, .align-middle {
		vertical-align: middle;
	}
	.va-b, .vab, .align-bottom {
		vertical-align: bottom;
	}


// ---- Clear Fix ----  

	.clearfix{
		zoom:1;

		&:before,
		&:after{
			content:"";
	    	display:table;
		}
		&:after{
			clear:both;
		}
	}

// ---- Visibility and more ---- 

	.hide {
		display: none;
	}
	.hidden {
		visibility: hidden;
	}
	.hidden-imp {
		visibility: hidden !important;
	}

	.transparent{
		@include opacity(0);
	}
	.opaque{
		@include opacity(1);
	}

	.block{
		display: block;
	}
	.block-imp{
		display: block !important;
	}
	.inline-block{
		@include inline-block();
	}

	.hide-text {
	    @include hide-text();
	}

	.ellipsis {
		@include ellipsis();
	}

	.non-selectable, .disable-text-select {
		@include non-selectable();
	}

	.uc, .uppercase{
		text-transform: uppercase;
	}
	.lc, .lowercase{
		text-transform: lowercase;
	}
