
@if variable-exists(config-paddings) {
    @each $val in $config-paddings{

    	// Padding all
		.pad-#{$val}{
			padding: #{$val}px !important;
		}

		// Padding top and vertical
		.pt-#{$val},
		.pv-#{$val}{
			padding-top: #{$val}px !important;
		}

		// Padding bottom and vertical
		.pb-#{$val},
		.pv-#{$val}{
			padding-bottom: #{$val}px !important;
		}

		// Padding left and horizontal
		.pl-#{$val},
		.ph-#{$val}{
			padding-left: #{$val}px !important;
		}

		// Padding right and horizontal
		.pr-#{$val},
		.ph-#{$val}{
			padding-right: #{$val}px !important;
		}
    }
}