
// Zero padding classes

	.zp { padding:0 !important; }
	.zpt { padding-top:0 !important; }
	.zpb { padding-bottom:0 !important; }
	.zpl { padding-left:0 !important; }
	.zpr { padding-right:0 !important; }
	.zpv { padding-top:0 !important; padding-bottom:0 !important; }
	.zph { padding-left:0 !important; padding-right:0 !important; }

@if $paddings{
    @each $val in $paddings{

    	// Padding all
		.pa-#{$val},
		.pad-#{$val}{
			padding: #{$val}px;
		}

		// Padding top and vertical
		.pt-#{$val},
		.pv-#{$val}{
			padding-top: #{$val}px;
		}

		// Padding bottom and vertical
		.pb-#{$val},
		.pv-#{$val}{
			padding-bottom: #{$val}px;
		}

		// Padding left and horizontal
		.pl-#{$val},
		.ph-#{$val}{
			padding-left: #{$val}px;
		}

		// Padding right and horizontal
		.pr-#{$val},
		.ph-#{$val}{
			padding-right: #{$val}px;
		}
    }
}